syntax: glob
bin/
Artifacts/
tmp/
*pch
*.user
src/Common/Averna.DpSystem.Hardware/RegisterMap/MemoryMap.cs
scripts/hg_revision.rb
src/include/hg_revision.h
obj/
src/DPDebugger/GUI/RegisterMap.xml
scripts/build_options.rb
*.suo
*.7z
*.dll-*
src/Services/Averna.DpSystemService/TestResults/
*.sdf
*.opensdf
*.sln.ide/
QA/~$TestPlan.xlsx
.vs/
TestResults/
scripts/VersionChecker.*
Debug/*
Release/*
x64/*
ipch/*
src/3rd/packages/*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Solution/.vs/TripLine/v14/.suo
